pyyaml
tqdm
termcolor
opencv-python
pandas==2.1.4
pydantic
av
numpydantic
albumentations
matplotlib
huggingface-hub>=0.34.0,<1.0
transformers==4.51.3
diffusers
numpy==1.26.4
pyarrow==15.0.2
decord
pydantic==2.10.6
timm>=0.9.16
peft==0.17.1
bddl==1.0.1
future==0.18.2 
easydict==1.9 
cloudpickle==2.1.0
gym==0.25.2
imageio
msgpack